<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="https://schemas.microsoft.com/XML-Document-Transform">
  <saml2TokenSettings>
    <add key="AudienceUri" value="https://www.federated.ip.com/Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ConfirmationMethod" value="https://www.federated.ip.com/Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Issuer" value="FederatedIP_Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Namespace" value="FederatedIP_Authentication_Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SubjectName" value="FederatedIP_Authentication_SAML2_Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </saml2TokenSettings>
  <appSettings>
    <add key="Environment" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="Replace"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="AuthTokenService.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Development/AuthTokenServices/" xdt:Transform="Replace"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>